.vscode/**
**/*.ts
.idea/**
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
**/tslint.json
**/tslint-webstorm-local.json
test/**
scripts/**
.nyc_output
coverage
contributing.md
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
