.vscode/**
**/*.ts
.idea/**
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
**/tslint.json
**/tslint-webstorm-local.json
test/**
scripts/**
.nyc_output
coverage
contributing.md
.github/**
.linters/**
docs/**
sugar-docs-generator/**
validator/**
.prettierrc.json
babel.config.js
types.txt
validator-local-compiled.cmd
validator-local-debug.cmd
node_modules/**
!node_modules/@mojotech/**
!node_modules/fast-diff/**
!node_modules/fs-extra/**
!node_modules/graceful-fs/**
!node_modules/is-wsl/**
!node_modules/jsonfile/**
!node_modules/lodash.isequal/**
!node_modules/opn/**
!node_modules/prettier-linter-helpers/**
!node_modules/universalify/**
!node_modules/vscode-jsonrpc/**
!node_modules/vscode-languageserver-types/**
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
server/node_modules/**
!server/node_modules/lodash/**
!server/node_modules/vscode-jsonrpc/**
!server/node_modules/vscode-languageserver/**
!server/node_modules/vscode-languageserver-protocol/**
!server/node_modules/vscode-languageserver-types/**
!server/node_modules/vscode-uri/**

